@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    
}




@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_mediumregular';
    src: url('roboto-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}