@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'roboto_mediumregular';
    src: url('roboto-medium-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




body {
    margin: 0;
    padding: 0;
    width: 1440px;

    font-family: 'Roboto', "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #283136;
    background-color: #ffffff;
    background-image: url('../img/nerds-index.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    
}


a {
    text-decoration: none;
}

.container *{
    padding: 0;
    margin: 0;
}

/*Шапка*/

.site-nav li,
.user-nav li {
    list-style: none;
}

.site-nav{ 
    width: 440px;
    margin: 0;
    padding: 0;
    margin-left: 200px;
    margin-top: 75px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
 }

.main-nav {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    color: #000000;
    
    display: flex;
   
}

.site-nav a, 
.user-nav a {
    display: inline-block;
    color: #000000;
}

.site-nav a:hover,
.site-nav a:focus,
.user-nav a:hover,
.user-nav a:focus {
    color: #fb565a;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.site-nav a:active,
.user-nav a:active {
    color: #000000;
    opacity: 0.3;
}

.main-header-logo:active {
    opacity: 0.3;
}

.current {
    border-bottom: 2px solid #fb565a;
}

.features-list{
    position: relative;
    
}

.features-list li {
    list-style: none;
    position: absolute;
    width: 1440px;
    min-height: 415px;
    padding-left: 140px;
    padding-top: 60px;
}

.features-list li:first-child{
    background-image: url(../img/slide1.png);
    background-position: 570px 0;
    background-repeat: no-repeat;
}

.features-list li:nth-child(2){
    background-image: url(../img/slide2.png);
    background-position: 570px 0;
    background-repeat: no-repeat;
}

.features-list li:nth-child(3){
    background-image: url(../img/slide3.png);
    background-position: 570px 0;
    background-repeat: no-repeat;
}

.features-name {
    font-weight: 700;
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 26px;

}

.features-text{
    margin-bottom: 37px;
}

.button {
    color: #ffffff;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;

    background-color: #fb565a;
}

.button:hover,
.button:focus {
    color: #ffffff;
    background-color: #e74246;
}

.button:active{
    color: rgba(255,255,255,0.3);

    background-color: #d7373b;
}

/*Тело*/

.services-list{
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 40px; 
    min-height: 430px;
}

.services-list h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;

    margin-bottom: 15px;
}

.services-list li{
    list-style: none;

    width: 300px;
    margin-left: 100px;
    padding-top: 170px;
}

.services-list li:first-child{
    background-image: url(../img/illustration-1.png);
    background-repeat: no-repeat;
    
}

.services-list li:nth-child(2){
    background-image: url(../img/illustration-2.png);
    background-repeat: no-repeat;
    
}

.services-list li:nth-child(3){
    background-image: url(../img/illustration-3.png);
    background-repeat: no-repeat;
    
}

.services-list p{
    margin-bottom: 31px;
}
/*Вставить общий селектор для .services-list .button */

.services-list .button-green{
    background-color: #00ca74;
}

.services-list .button-green:hover,
.services-list .button-green:focus{
    background-color: #00bc6c;
}

.services-list .button-green:active{
    background-color: #00aa62;
}

.services-list .button-yellow{
    background-color: #efc84a;
}

.services-list .button-yellow:hover,
.services-list .button-yellow:focus{
    background-color: #eab534;
}

.services-list .button-yellow:active{
    background-color: #e5a722;
}

.studio-1 li,
.studio-2 li{
    list-style: none;
}

section.studio,
.studio-1,
.studio-2,
.studio-1 *,
.studio-2 *{
    margin: 0;
    padding: 0;
} 

.studio-text-medium{
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0;
    margin-bottom: 33px;
}

.studio-text{
    margin-bottom: 40px;
}

.studio-1 .studio-list{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 3px;
}

.studio-services-list{
    margin-top: 23px;
}

.studio-services-list li:first-child{
    
    margin-left: 37px;
    margin-bottom: 23px;
}

.studio-services-list li:nth-child(2){
    margin-bottom: 23px;
    margin-left: 37px;
}

.studio-services-list li:nth-child(3){
    
    margin-left: 37px;
}

.studio-services-list li{
    position: relative;
}

.studio-services-list li::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    top: 11px;
    left: -34px;
}

 .studio-features-list .number{
    font-size: 45px;
    line-height: 40px;
    font-weight: 700;
}

.studio-features-list .percent{
    vertical-align: text-top;
    font-size: 25px;
    font-weight: 700;
    
}



section.studio{
    display: flex;
    justify-content: space-around;
    padding-left: 65px;
    padding-right: 65px;
}

.studio-1{
    width: 660px;
    padding-top: 71px;
}

.studio-2{
    width: 360px;
    padding-top: 38px;
}

.studio-1 p{
    white-space: nowrap;
}

.studio-2 img{
    margin-bottom: 28px ;
}

.studio-2 .studio-list{
    margin-left: 15px;
    text-transform: uppercase;
}

.studio-features-list{
    display: flex;
    padding-top: 38px;
}

.studio-features-list li:first-child{
    margin-right: 15px;
}

.studio-features-list li:nth-child(2){
    margin-right: 25px;
}

li .number{
    margin-bottom: 19px;
}

li .feature{
    line-height: 18px;
}

.costumers-list li{
    list-style: none;
}

.costumers-list .costumers-link{
    opacity: 0.2;
}

.costumers-list .costumers-link:hover,
.costumers-list .costumers-link:focus{
    opacity: 1;
}

.costumers-list .costumers-link:active{
    opacity: 0.1;
}

.costumers,
.costumers *{
    padding: 0;
    margin: 0;
}

.costumers{
    padding-right: 20px;
}

.costumers-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1160px;
    min-height: 180px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    
}
/*Футер*/

.contacts-1{
    position: relative;
}

.contacts-1 p:nth-of-type(1){
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
}

.contacts-1 p:not(:nth-of-type(1)){
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color:#666666;
}

.socials-list li{
    list-style: none;
}

.socials-list .socials-item{
    background-color: #e1e1e1;
}

.socials-list .socials-item:hover,
.socials-list .socials-item:focus{
    background-color: #e74246;
}

.socials-item:active img{
    opacity: 0.3;
}

p.friendship-text{
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
}

p.friendship-discount{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

/*Форма обратной связи*/

.contact-us-text{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

p.contact-us-form-item label{
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
}

p.contact-us-form-item label+*{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    border: 2px solid #d7dcde;
    box-shadow: none;
    border-radius: 5px;
}

p.contact-us-form-item label+*::placeholder{
    color: rgba(68, 68, 68 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
p.contact-us-form-item label+*:hover{
    border-color: #b4b9bb;
}


p.contact-us-form-item label+*:focus{
    border-color: #000000;
}

p.contact-us-form-item label+*:invalid{
    border-color: #e74246;
    color: #e74246;
}

/*Страница каталога товаров*/
/*Фильтры*/
.filter-option{
    border: none;
}

.filter-option li,
.sorting-direction li,
.sorting-list li{
    list-style: none;
}

.filter-option legend,
.sorting>span{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sorting-list-option a{
    color: #000000;
    opacity: 0.3;
    text-transform: uppercase;
}

.sorting-list-option a:hover,
.sorting-list-option a:focus{
    opacity: 0.6;
}

.sorting-list-option a:active,
.sorting-list-option a.current-option{
    opacity: 1;
}

.sorting-direction a{
    font-size: 0px;
    background-color: #000000;
    display: inline-block;
    border: 5px solid #000000;
}

.gray-button{
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    
    background-color: #eeeeee;
    border-radius: 2px;
    border: none;
}

.gray-button:hover,
.gray-button:focus{
    background-color: #dfdfdf;
}

.gray-button:active{
    color: rgba(0, 0, 0, 0.3);

    box-shadow: inset 0 2px 0 0 #bfbfbf;
}

/*Каталог*/

.catalog-list li{
    list-style: none;
}

.catalog-item-info-name{
    color: #000000;
}

.catalog-item-info-name:hover,
.catalog-item-info-name:focus{
    color: #fb565a;
}

.catalog-item-info-name:active{
    color: rgba(0, 0, 0, 0.3);
}

.catalog-item-info-name span{
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.pagination-list li{
    list-style: none;
}

.pagination-item-current{
    background-color: #ffffff;
    box-shadow: inset 2px 2px 0 0 #eeeeee,
                inset -2px -2px 0 0#eeeeee;
    pointer-events: none; /* делаем ссылку некликабельной */
    cursor: default;  /* устанавливаем курсор в виде стрелки */            
}

/*Заметка сетки*/




.header-main{
    min-height: 132px;
    margin: 0;
}



.main-header-logo{
    width: 160px;
    height: 65px;
    margin-left: 140px;
    margin-top: 50px;
    
}



.user-nav{
    width: 180px;
    margin: 0;
    padding: 0;
    margin-left: 200px;
    margin-top: 75px;
    
}

.user-nav .login-link{
    display:inline-block;
    width: 95px;
    padding-left: 85px;
    position: relative;
    
}

.login-link::before {
    width: 20px;
    height: 20px;
    content: "";
    position: absolute;
    background-image: url(../img/cart-icon.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
    left: 45px;
    top: 8px;
}

.features{
    margin-bottom: 80px;
    /*Временно для сетки*/
    min-height: 415px;
    
}











.footer-main,
.footer-main *{
    padding: 0;
    margin: 0;
}

.adress{
    width: 320px;
    min-height: 310px;
    position: absolute;
    top: 50px;
    left: 140px;
    background-color: #ffffff;
}

.socials-list{
    width: 260px;
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
}

.socials-item {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
    text-align: center;
}

.socials-item img{
    margin-top: 30px;
}
.contacts-2{
    display: flex;
    width: 100%;
    min-height: 217px;
    
    align-items: center;
}

.friendship{
    margin-left: 140px;
}

.contact-us,
.contact-us *{
    padding: 0;
    margin: 0;
}

.contact-us{
    width: 960px;
    
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 80px;
}
/*Сетка для внутреней странциы каталога*/

.inner-page{
    background-image: url(../img/nerds-catalog.jpg);
    background-repeat: no-repeat;
}

.inner-page .container{
    min-height: 2438px;
}

.page-name-wrapper{
    min-height: 180px;
    padding-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    
}

.page-name {
    line-height: 30px;
}

.catalog-container-wrapper{
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 55px;
    margin-bottom: 0;
    display: flex;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
}

.filters{
    width: 260px;
    min-height: 775px;
}

.sorting-catalog-items-wrapper{
    width: 760px;
   
}

.sorting li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-list,
.sorting-direction,
.sorting{
    display: flex;
}

.sorting span{
    width: 160px;
}

.sorting-list{
    width: 300px;
    margin-left: 240px;
    padding-top: 5px;
}

.sorting-list li:not(:last-child){
    margin-right: 20px;
}

.sorting-direction{
    margin-left: 15px;
    width: 45px;
    justify-content: space-between;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
}

.catalog{
    padding-top: 90px;
}

.catalog-item {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 360px;
    height: 576px;
    margin-bottom: 72px;
    position: relative;
    overflow: hidden;
}

.catalog-item:nth-child(odd){
    margin-right: 20px;
}
.catalog-item:nth-child(even){
    margin-left: 20px;
}

.catalog-item-info{
    width: 360px;
    min-height: 230px;
    text-align: center;
    padding-top: 35px;
    background-color: #eeeeee;
    position: absolute;
}

.catalog-item:last-child, 
.catalog-item:nth-last-child(2){
    margin-bottom: 0;
}

.catalog-item:hover .catalog-item-info{
    top: 310px;
}

.pagination-list{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}

.pagination-item{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 11px;
}

.button-next{
    width: 260px;
}